<div class="block-feature">
  <div class="image">
    <%- fa_inline(icon.name, {prefix: icon.prefix}) %>
  </div>
  <h3 class="title"><%= title %></h3>
  <div class="description"><%- description %></div>
</div>