<div class="block-feature">
  <div class="image">
    <img src="<%- url_for("/images/features/" + img) %>" class="<%= imgClass %>"/>
  </div>
  <h3 class="title"><%= title %></h3>
  <div class="description"><%- description %></div>
</div>