<div class="block block-<%= type %>">
  <div class="container ">
    <center>
      <div class="image">
        <img src="<%- url_for("/images/" + img) %>" />
      </div>
      <h1 class="title"><%= title %></h1>
      <div class="description"><%- description %></div>
    </center>
  </div>
</div>