<div class="block block-features" id="features">
  <div class="envelop">
  <div class="container">
    <div class="row">
    <% for (var feature in features){ %>
      <div class="col-md-6 col-sm-12">
        <%- partial('_partial/block-feature', features[feature]) %>
      </div>
    <% } %>
    </div>
  </div>
  </div>
</div>