<footer class="bg-footer">
  <div class="container-fluid p-2">
    <center>
      <div class="copyright"><%= config.author %></div>
      <a href="<%- config.root %>"><img class="logo" src="<%- url_for("/images/logo.svg") %>"></a>
    </center>
  </div>
</footer>