<div class="block block-price" id="pricing">
    <div class="envelop">
    <div class="container">
        <center><h2 class="title mb-5">Pricing</h2></center>
      <div class="row">
      <% for (var plan in plans){ %>
        <div class="col-md-4 col-sm-12">
          <%- partial('_partial/block-plan', plans[plan]) %>
        </div>
      <% } %>
      </div>
    </div>
    </div>
  </div>