<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/page-header') %>
    <div class="page">
    <div class="container">
      <%- body %>
    </div>
    <%- partial('_partial/page-footer') %>
    </div>
  </body>
</html>